/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* BODY */

	body{
		font-size:75%;
		font-family:"Lucida Sans Unicode", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
		color:#555;
		overflow-y:scroll;
		}
	
	#header .container{
		height:200px;
		margin-top:15px;
		}
	
	*{
		outline:none;
		}
		

/* STRUCTURE */

	.content{
		margin: 0px !important;
		left:0px !important;
		padding: 0 0 0 40px !important;
		overflow:visible;
		width:880px;
		}
		
	.entry-content, .content{
		overflow:visible !important;
		}
		
		
/* PROPORTIONS */

	.one_fifth {
		margin-left: 4%;
		width: 16.5%;
		}

	.four_fifth {
		margin-left: 8%;
		width: 75%;
	}

/* FORMATTING */

	h2, h3, h4, h5, h6{
		margin-left:-2em;
		font-family:DroidSansRegular, Tahoma, Arial;
		font-weight:normal;
		}
		
	h1{
		font-size:40px !important;
		margin-bottom:10px;
		border-bottom:1px solid #333;
		}
		
	#template-page h1{
		margin-left:-60px;;
		}

	.post-entry h1, 
	.post-entry h2{
		padding-top: 0.5em;
		}
		
	.post-entry h3, 
	.post-entry h4, 
	.post-entry h5, 
	.post-entry h6{
		padding-top: 1em;
		}
		
	.portfolio-overview h4{
		border:none;
		}
		
	#template-blog .post-title{
		padding: 0 0 5px 20.5%;
		padding:0 0 5px 0;
		margin-left:0px;
		}
		
/* RESET ARCHIVE */

	h4 {
		font-family:DroidSansRegular;
		font-size: 18px;
		font-weight:normal;
		text-transform:none;
		margin-left:0px !important;
		}
		
	h5 {
		font-family:DroidSansRegular;
		font-size: 16px;
		font-weight:normal;
		text-transform:none;
		margin:15px 0 -3px;
		padding:0;
		border:none;
		}
		
	.search .content,
	.archive .content{
		padding: 0 0 0 40px !important;
		}
		
	h3 + h5 {
		margin-top:0.5em !important;
	}
		
	.content h6 {
		font-family:DroidSansRegular;
		font-size: 14px;
		font-weight:normal;
		text-transform:none;
		border:none;
		}
		
	.entry-content strong{
		color:#333 !important;
		}
		
	body .aligncenter{
		padding:0px;
		margin:10px auto;
		}
		
	code{
		font-size:12px;
		font-family:"Lucida Console", "Courier New", Courier, monospace;
		color:#BF0B0B;
		background-color:#EEE;
		padding:1px 4px;
		-moz-border-radius:3px;
		}
		
/* EXTRA FORMATTING */

	pre{
		padding:6px 10px 10px 10px;
		overflow-x:auto !important;
		line-height:1.4em;
		font-family:Consolas, "Andale Mono", "Courier New", Courier, Monaco, monospace;
		}
		
	.entry-content pre{
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		-moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
		border:1px solid #CCCCCC;
		background-color:#F9F9F9;
		margin:10px 0px 10px 20px;
		width:95%;
		}
		
	pre.prettyprint.clean{
		-moz-box-shadow:none;
		-webkit-box-shadow:none;
		border:none;
		background:none;
		margin:10px 0px 10px 0px;
		width:100%;
		}
		
	.hidden{
		display:none;
		}
		
/* IMAGE */

/* SLIDESHOW */

	body.single div.slideshow_container{
		display:none;
		}
		
	.shadow-top, .shadow-bottom{
		display:none;
		}

		
		
/* BULLETS */

	.entry-content ul li, 
	.entry-content ol li,
	#top #search-fail ul li {
		border-bottom:none;
		}
		
	.entry-content ul, 
	.entry-content ol,
	.entry ol, 
	#top #search-fail ul {
		border-top: none;
		}
		
	.entry-content ol,
	.entry-content ul{
		margin:10px 0px 10px 40px;
		}
		
	.entry-content ol li,
	.entry-content ul li{
		background:none !important;
		list-style-position:outside;
		padding:0px;
		margin:0px;
		}
		
	.entry-content ul li{
		list-style-type:square;
		}
		
	pre strong, pre b{
		font-weight:bold;
		color:#C00;
		}
		

